
<div class="line-element">
  <button mat-raised-button color="primary" id="get-persons-req" (click)="getPersons()"> Get Persons </button>
</div>

<div class="line-element">
  <div id="persons-wrapper" *ngIf="persons != 0; then personsBlock else emptyPersonsBlock"></div>
  <ng-template #personsBlock>
    <div id="persons" class="information" *ngFor="let person of persons">
      <span>{{ person.firstName }} - </span>
      <span>{{ person.lastName }} - </span>
      <span>{{ person.age }} - </span>
      <span>{{ person.salary }} - </span>
      <span>{{ person.currency }}</span>
    </div>
  </ng-template>
  <ng-template #emptyPersonsBlock>  <div>No Persons attached!</div> </ng-template>
</div>
