<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center">
  <mat-card class="box">
    <mat-card-header class="login-register-header">
      <mat-card-title>{{'REGISTRATION' | translate}}</mat-card-title>
    </mat-card-header>

    <form class="example-form">

      <mat-card-content>
        <mat-form-field class="input-full-width">
          <mat-label>{{'USER_NAME' | translate}}</mat-label>
          <input matInput name="username" [(ngModel)]="person.username" [formControl]="formValidation.userName" placeholder="{{'user.placeholder.name' | translate}}" required>
          <mat-error *ngIf="formValidation.userName.invalid">{{getErrorMessage("userName")}}</mat-error>
        </mat-form-field>

        <mat-form-field class="input-full-width">
          <mat-label>{{'user.first.name' | translate}}</mat-label>
          <input matInput name="firstname" [(ngModel)]="person.firstName" [formControl]="formValidation.firstName" placeholder="{{'user.placeholder.first.name' | translate}}" required>
          <mat-error *ngIf="formValidation.firstName.invalid">{{getErrorMessage("firstName")}}</mat-error>
        </mat-form-field>

        <mat-form-field class="input-full-width">
          <mat-label>{{'user.last.name' | translate}}</mat-label>
          <input matInput name="lastname" [(ngModel)]="person.lastName" [formControl]="formValidation.lastName" placeholder="{{'user.last.name.placeholder' | translate}}" required>
          <mat-error *ngIf="formValidation.lastName.invalid">{{getErrorMessage("lastName")}}</mat-error>
        </mat-form-field>

        <mat-form-field class="input-full-width">
          <mat-label>{{'user.email' | translate}}</mat-label>
          <input matInput name="email" [(ngModel)]="person.email" [formControl]="formValidation.email" placeholder="{{'user.placeholder.email' | translate}}" required>
          <mat-error *ngIf="formValidation.email.invalid">{{getErrorMessage("email")}}</mat-error>
        </mat-form-field>

        <mat-form-field class="input-full-width">
          <mat-label>{{'PASSWORD' | translate}}</mat-label>
          <input matInput name="password" type="password" [(ngModel)]="person.password" [formControl]="formValidation.password" placeholder="{{'user.placeholder.name' | translate}}" required>
          <mat-error *ngIf="formValidation.password.invalid">{{getErrorMessage("password")}}</mat-error>
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button (click)="doRegistrationForPerson()" color="primary" class="btn-block">{{'DO_REGISTRATION' | translate}}</button>

    </form>
  </mat-card>
</div>
