<div id="" data-name="login-register-page">

  <mat-tab-group id="join-page-header" [selectedIndex]="_selectedTab" dynamicHeight="false" mat-align-tabs="center" class="join-header">
    <mat-tab class="mat-tab-label-container">
      <ng-template mat-tab-label>
        <mat-icon class="app-tab-icon" aria-hidden="false" aria-label="Rental Application">people_outline</mat-icon>
        {{ 'LOGIN' | translate }}
      </ng-template>
      <div class="login-item">
        <application-login></application-login>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="app-tab-icon material-icons">home</i>
        {{ 'REGISTRATION' | translate }}
      </ng-template>
      <div class="registration-item">
        <application-registration></application-registration>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
