<div id="app-select-page" data-name="wrapper">

  <div id="app-title" class="d-flex flex-row justify-content-center align-items-center">
    <div class="app-title-name">
      <span>{{'APPLICATION_TO_BE_USED_TEXT' | translate}}</span>
    </div>
  </div>
  <div id="apps" class="">
    <div class="box">
      <div class="container">
        <div class="row d-flex justify-content-center">

          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

            <div class="box-part text-center">

              <i class="fas fa-house-user fa-3x"></i>

              <div class="title">
                <h4>Application for Rental</h4>
              </div>

              <div class="text">
                <span>Uses to put advertisement into, and find out flats for rental, sell or buy purpose.</span>
              </div>

              <a href="/application/rental">Go to...</a>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
