<div id="app-select-page" class="container-fluid" >

  <div class="row ml-2 mt-2">
    <button type="button" class="btn btn-primary" (click)="this.route.navigateByUrl('/profile');">
      {{"PROFILE" | translate}}
    </button>
    <button type="button" class="btn btn-light ml-2" (click)="logout();">
      {{'LOGOUT' | translate}}
    </button>
    <button type="button" class="btn btn-success ml-5" (click)="this.route.navigateByUrl('/users');">
      {{'SHOW_USERS' | translate}}
    </button>
  </div>

  <div id="form-wrapper" data-name="page-wrapper" class="mt-4" *ngIf="responseReceived">
    <div class="overflow-auto p-3 mb-5 md-0" style="min-height: 600px; max-height: 620px;"> <!--bg-light-->
      <div id="message-container" class="" *ngIf="offers.length>0; else leaveFirstMessageBlock">
        <div *ngFor="let offer of offers" class="ui center aligned info message segment proposal">
          <div *ngIf="!showAnimation; else loadingInProgressBlock">
            <div class="ui header mb-3">
              {{offer.message}}
              <span [hidden]="!securityContext.hasEditRightsYouOwn(offer.authorId)" class="ui icon mr-0 float-right">
                <span data-tooltip="Edit proposal" data-position="top right"
                      style="font-size: 0.7em !important;" class="cursor-pointer mr-2" (click)="editOffer(offer);">Edit
                </span>
                <span data-tooltip="Delete" data-position="top right" data-inverted="">
                  <i class="cursor-pointer tiny trash icon" (click)="deleteOffer(offer.id);"></i>
                </span>
              </span>
            </div>
            <div class="text-right">
              Posted by: <b>{{offer.author}}</b> at {{getDate(offer) | date:'d EEEE - HH:mm'}}
            </div>
          </div>
        </div>
      </div>

      <!--Loading in progress template-->
      <ng-template #loadingInProgressBlock>
        <div class="ui fluid placeholder">
          <div class="line"></div><div class="line"></div><div class="line"></div>
        </div>
      </ng-template>
      <!--Empty Offers list template-->
      <ng-template #leaveFirstMessageBlock>
        <div class="ui placeholder segment">
          <div class="ui icon header">
            <i class="search icon"></i>
            {{"LEAVE_PROPOSAL_DESCRIPTION_SMALL" | translate}}
            <div class="inline ui huge header">
              <div class="ui">{{"LEAVE_PROPOSAL_DESCRIPTION_MIDDLE" | translate}}</div>
            </div>
          </div>

        </div>
      </ng-template>
    </div>

    <form class="ui form mt-5">
      <textarea name="message" placeholder="{{'ask.placeholder.question' | translate}}" style="min-height:100px" rows="7" [(ngModel)]="currentOffer.message"></textarea>

      <div class="ui toggle checkbox mt-2">
        <input name="anonymousPost" type="checkbox" [(ngModel)]="currentOffer.anonymousPost">
        <label>{{"ANONYMOUS_POST_LABEL" | translate}}</label>
      </div>
      <div class="inline mt-1">
        <div class="ui primary button" (click)="postOffer();">{{getSendProposalBtnText()}}</div>
        <div *ngIf="currentOffer.id" class="ui button" (click)="cancelEditing();">{{"CANCEL" | translate}}</div>
      </div>
    </form>
  </div>

</div>
