<div class="container mt-5">
  <form id="advertisement-form" name="rent-app-form">
    <mat-horizontal-stepper linear #stepper>
      <mat-step [formGroup]="personalInfoValidator" [stepControl]="personalInfoValidator">
        <ng-template matStepLabel>{{'advertisement.personal.info' | translate}}</ng-template>
        <div class="row">
          <mat-form-field class="w-25 p-3">
            <mat-label>{{'user.first.name' | translate}}</mat-label>
            <input matInput name="name" [(ngModel)]="advertisementModel.clientInfo.name" formControlName="name" placeholder="{{'user.placeholder.first.name' | translate}}" required>
            <mat-error *ngIf="personalInfoValidator.get('name').invalid">{{getErrorMessage(personalInfoValidator, "name")}}</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="w-25 p-3">
            <mat-label>{{'user.email' | translate}}</mat-label>
            <input matInput name="email" [(ngModel)]="advertisementModel.clientInfo.email" formControlName="email" placeholder="{{'user.placeholder.email' | translate}}" required>
            <mat-error *ngIf="personalInfoValidator.get('email').invalid">{{getErrorMessage(personalInfoValidator, "email")}}</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="w-25 p-3">
            <mat-label>{{'user.phone' | translate}}</mat-label>
            <input matInput name="mobilePhone" [(ngModel)]="advertisementModel.clientInfo.mobilePhone" formControlName="phone" placeholder="{{'user.placeholder.phone'| translate}}" required>
            <mat-error *ngIf="personalInfoValidator.get('phone').invalid">{{getErrorMessage(personalInfoValidator,"phone")}}</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="w-25 p-3">
            <mat-label>{{'user.city' | translate}}</mat-label>
            <input matInput name="city" [(ngModel)]="advertisementModel.clientInfo.city" formControlName="city" placeholder="{{'user.placeholder.city' | translate}}" required>
            <mat-error *ngIf="personalInfoValidator.get('city').invalid">{{getErrorMessage(personalInfoValidator, "city")}}</mat-error>
          </mat-form-field>
        </div>
        <div class="mt-3">
          <button mat-stroked-button matStepperNext color="primary" type="button">{{'BTN_NEXT' | translate}}</button>
        </div>

      </mat-step>

      <mat-step [formGroup]="advertisementInfoValidator" [stepControl]="advertisementInfoValidator">
        <ng-template matStepLabel>{{'advertisement.adv.info' | translate}}</ng-template>

        <div class="row">
          <mat-form-field class="w-25 p-3">
            <mat-label>{{'advertisement.title' | translate}}</mat-label>
            <input matInput name="title" [(ngModel)]="advertisementModel.title" formControlName="title" placeholder="{{'user.placeholder.title' | translate}}">
            <mat-error *ngIf="advertisementInfoValidator.get('title').invalid">{{getErrorMessage(advertisementInfoValidator, "title")}}</mat-error>
          </mat-form-field>
          <mat-form-field class="w-25 p-3">
            <mat-label>{{'advertisement.type' | translate}}</mat-label>
            <mat-select [(ngModel)]="advertisementModel.type" formControlName="nonEmpty" [(value)]="advertisementModel.type">
              <mat-option name="type" *ngFor="let type of typesValues" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="w-25 p-3">
            <mat-label>{{'advertisement.description' | translate}}</mat-label>
            <textarea matInput name="description" [(ngModel)]="advertisementModel.description" formControlName="description" placeholder="{{'user.placeholder.description' | translate}}"></textarea>
            <mat-error *ngIf="advertisementInfoValidator.get('description').invalid">{{getErrorMessage(advertisementInfoValidator, "description")}}</mat-error>
          </mat-form-field>
          <mat-form-field class="w-25 p-3">
            <mat-label>{{'advertisement.cost' | translate}}</mat-label>
            <input matInput type="number" name="cost" [(ngModel)]="advertisementModel.cost" formControlName="cost" placeholder="{{'user.placeholder.cost' | translate}}">
            <mat-error *ngIf="advertisementInfoValidator.get('cost').invalid">{{getErrorMessage(advertisementInfoValidator, "cost")}}</mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="w-25 p-3">
            <mat-label>{{'advertisement.room.count' | translate}}</mat-label>
            <input matInput type="number" name="countRoom" [(ngModel)]="advertisementModel.countRoom" formControlName="countRoom" placeholder="{{'user.placeholder.room.count' | translate}}">
            <mat-error *ngIf="advertisementInfoValidator.get('countRoom').invalid">{{getErrorMessage(advertisementInfoValidator, "countRoom")}}</mat-error>
          </mat-form-field>
          <mat-form-field class="w-25 p-3">
            <mat-label>{{'advertisement.floor.number' | translate}}</mat-label>
            <input matInput type="number" name="floorNumber" [(ngModel)]="advertisementModel.floorNumber" formControlName="floorNumber" placeholder="{{'user.placeholder.floor.number' | translate}}">
            <mat-error *ngIf="advertisementInfoValidator.get('floorNumber').invalid">{{getErrorMessage(advertisementInfoValidator, "floorNumber")}}</mat-error>
          </mat-form-field>
        </div>

        <div class="row w-25 p-3" >
          <mat-checkbox name="isBargain" [(ngModel)]="advertisementModel.isBargain" formControlName="nonEmpty">{{'advertisement.bargain' | translate}}</mat-checkbox>
        </div>

        <div class="mt-3">
          <button mat-stroked-button matStepperPrevious color="primary" type="button">{{'BTN_PREV' | translate}}</button>
          <button mat-stroked-button matStepperNext class="ml-3" color="primary" type="button">{{'BTN_NEXT' | translate}}</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{'advertisement.submit' | translate}}</ng-template>
        <div id="submit-btn" class="row w-25">
          <button mat-stroked-button color="primary" class="btn-block" (click)="submit()">{{'advertisement.add' | translate}}</button>
        </div>
        <div class="mt-3">
          <button mat-stroked-button matStepperPrevious color="primary" type="button">{{'BTN_PREV' | translate}}</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>

</div>
