html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Noto Sans,sans-serif;;
  background: #2f7fc7b5;
}

.cursor-pointer {
  cursor: pointer;
}

.toast-container {
  z-index: 18006789;
}

.app-lang-style {
  position: absolute;
  float: right;
  top: 5px;
  right: 0;
  margin-right: 30px;
  z-index: 16002345;
}

.app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
